@import './Var.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: $veryLightGray;
}

@media (min-width: 1024px) {
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
    .center {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media (max-width: 1023px) {
  .cards {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
    .center {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
